@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveUp {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

/* this will make the universal selector more reliable */
html {
  /* font-size: 10px; this will only make the root 1rem = 10px  and not zoom in the web page */
  font-size: 62.5%;
  /* this 100% = 16px = 1rem =====  i.e 62.5% = 10px = 1rem */
  /* this will also zoom in the page  */ }

body {
  box-sizing: border-box; }

body {
  font-family: 'lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #222222;
  padding: 2rem; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-weight: 700;
    font-size: 4.6rem;
    letter-spacing: 2rem;
    line-height: 7rem;
    animation: moveInleft 4s ease-out; }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    animation: moveInRight 4s ease-out; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.2rem;
  display: inline-block;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewX(3deg) skewY(7deg);
    text-shadow: 0 0.2rem 0.5rem black; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tertiary:not(:last-child) {
    margin-bottom: 2rem; }

.paragraph-content {
  font-size: 1.6rem; }
  .paragraph-content:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-8 {
  margin-bottom: 8rem !important; }

.u-margin-bottom-6 {
  margin-bottom: 6rem !important; }

.u-margin-bottom-2 {
  margin-bottom: 2rem !important; }

.u-margin-top-2 {
  margin-top: 2rem !important; }

.btn, .btn:visited, .btn:link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 100px;
  box-shadow: 0 0.5rem 1rem black;
  position: relative;
  transition: all 0.2s;
  border: none;
  cursor: pointer; }
  .btn:hover, .btn:visited:hover, .btn:link:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem black; }
    .btn:hover::after, .btn:visited:hover::after, .btn:link:hover::after {
      transform: scale(2);
      opacity: 0; }
  .btn:active, .btn:focus, .btn:visited:active, .btn:visited:focus, .btn:link:active, .btn:link:focus {
    outline: none;
    transform: translateY(0.1rem);
    box-shadow: 0 0.5rem 1rem black; }

.btn--white {
  background-color: white;
  color: grey; }
  .btn--white::after {
    background-color: white; }

.btn--animated {
  animation: moveUp 2s ease-out 4s backwards; }

.btn--green {
  background-color: #55c57a;
  color: white; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  border-radius: 100px;
  transition: all 0.4s; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  text-transform: uppercase;
  color: #55c57a;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 4px;
  transition: all 1s; }

.btn-text:hover {
  background-color: #55c57a;
  color: white;
  transform: translateY(-3px); }

.btn-text:active {
  transform: translateY(-1px); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 0.4rem 1rem black;
    border-radius: 3px;
    z-index: 10;
    outline-offset: 1rem;
    transition: all .2s; }
    .composition__photo--p1 {
      top: -3rem;
      left: 3rem; }
    .composition__photo--p2 {
      top: 0rem;
      left: 6rem; }
    .composition__photo--p3 {
      top: 3rem; }
    .composition__photo:hover {
      z-index: 20;
      outline: 1rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 1.5rem;
  transition: transform .4s;
  border-radius: 5px; }
  .feature-box__icon {
    font-size: 7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box__text {
    margin-top: 1rem;
    font-size: 1.3rem; }
  .feature-box:hover {
    transform: scale(1.05) translateY(-0.8rem); }

.card {
  perspective: 100rem;
  height: 40rem;
  position: relative; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    height: 40rem;
    color: white;
    transition: all 0.8s;
    border-radius: 4px;
    overflow: hidden; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #55c57a, #7ed56f); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 18rem;
    background-size: cover;
    background-position: top;
    background-blend-mode: multiply;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #55c57a, #7ed56f), url(../img/nat-5.jpg); }
  .card__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    font-weight: 300;
    font-size: 1.8rem;
    width: 60%;
    line-height: 4.5rem;
    text-align: right; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #55c57a, #7ed56f); }
  .card__detail ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 3rem; }
    .card__detail ul li {
      text-align: center;
      font-size: 1.4rem;
      color: black; }
      .card__detail ul li:not(:last-child) {
        padding: 1rem;
        border-bottom: 1px solid #7ed56f; }
      .card__detail ul li:first-child {
        margin-top: 1rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    text-align: center; }

.story {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5rem;
  padding-left: 8rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg) translateX(-3rem);
    border: none; }
  .story__image {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    overflow: hidden;
    transition: all .3s; }
  .story__text {
    transform: skew(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 30%);
    color: white;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    transition: all .3s; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: translateX(-3rem) scale(1);
    filter: brightness(50%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group {
  margin-bottom: 4rem;
  position: relative; }

.form__input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-bottom: 3px solid orangered;
  border-radius: 3px;
  transition: all 0.2s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .form__input:valid {
    border-bottom: 3px solid green; }

.form__label {
  color: #28b485;
  position: absolute;
  top: 4rem;
  left: 0.5rem;
  transition: all 0.2s;
  opacity: 1;
  transition: all 0.2s; }

.form__input:placeholder-shown + .form__label {
  transform: translateY(-4rem);
  opacity: 0; }

.form__radio-group {
  width: 45%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  padding-left: 3rem;
  color: #55c57a; }

.form__radio-button {
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  left: 0rem; }
  .form__radio-button::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background-color: #55c57a;
    opacity: 0;
    transition: all .3s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
  width: 1rem;
  height: 1rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 4rem; }
  .header__logo {
    height: 3rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer__logo-box {
  text-align: center;
  margin-bottom: 2rem; }

.footer__logo {
  width: 10rem; }

.footer__list {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  border-top: 1px solid grey;
  padding-top: 1rem; }

.footer__navigation {
  float: right; }

.footer__item {
  display: inline-block; }
  .footer__item:not(:last-child) {
    margin-right: 2rem; }

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: white;
  transition: all 0.2s;
  display: inline-block; }
  .footer__link:link:hover, .footer__link:visited:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    color: #55c57a;
    transform: rotate(5deg); }

.footer__copyright {
  display: block;
  padding-top: 1rem;
  border-top: 1px solid grey;
  width: 80%;
  color: gray; }

.row {
  max-width: 90rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }

[class^='col-'] {
  float: left; }
  [class^='col-']:not(:last-child) {
    margin-right: 6rem; }

.col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * (6rem)); }

.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    width: 6.5rem;
    height: 6.5rem;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 22;
    position: fixed;
    background-color: white;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }
  .navigation__icon {
    position: absolute;
    top: 50%;
    left: 1.35rem;
    width: 60%;
    height: 3px;
    background-color: black; }
    .navigation__icon::after {
      content: '';
      position: absolute;
      top: 1rem;
      left: 0rem;
      width: 100%;
      height: 2.5px;
      background-color: black;
      transition: all 0.3s; }
    .navigation__icon::before {
      content: '';
      position: absolute;
      bottom: 1rem;
      left: 0rem;
      width: 100%;
      height: 2px;
      background-color: black;
      transition: all 0.3s; }
  .navigation__button:hover .navigation__icon::after {
    transform: translateY(-0.25rem); }
  .navigation__button:hover .navigation__icon::before {
    transform: translateY(0.25rem); }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
    transform: rotate(-130deg);
    top: 0;
    margin-bottom: 1rem; }
  .navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
    transform: rotate(130deg);
    bottom: 0rem;
    margin-top: 1rem; }
  .navigation__background {
    width: 6rem;
    height: 6rem;
    top: 6.5rem;
    right: 6.5rem;
    border-radius: 50%;
    z-index: 20;
    position: fixed;
    background-image: radial-gradient(#55c57a, #7ed56f);
    transition: all 2s; }
  .navigation__nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 25; }
  .navigation__list {
    list-style: none;
    text-decoration: none;
    visibility: hidden;
    display: block;
    transform: translateX(-150rem);
    transition: all 2s; }
  .navigation__item {
    text-align: center; }
  .navigation__span {
    margin-right: 1rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: block;
    padding: 1rem 2rem;
    margin: 1rem;
    background-image: linear-gradient(105deg, transparent 0%, transparent 50%, white 50%);
    background-size: 210%;
    transition: all 0.5s; }
    .navigation__link:hover, .navigation__link:active, .navigation__link:link:hover, .navigation__link:link:active, .navigation__link:visited:hover, .navigation__link:visited:active {
      background-position: 100%;
      color: #55c57a;
      transform: translateX(-1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav .navigation__list {
    transform: translateX(0);
    visibility: visible; }

.section-about {
  padding: 15rem 0;
  margin-top: -15vh;
  background-color: gray; }

.section-feature {
  padding: 14rem 0;
  margin-top: -6.4rem;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.7), rgba(126, 213, 111, 0.7)), url(../img/nat-4.jpg);
  transform: skewY(-7deg); }
  .section-feature > * {
    transform: skewY(7deg); }

.section-tour {
  margin-top: -11rem;
  padding: 25rem 0 15rem 0;
  background-color: gray; }

.section-stories {
  padding: 10rem 0rem;
  position: relative; }

.section-book {
  padding: 10rem;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)); }

.book {
  height: 35rem;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../../img/nat-10.jpg);
  background-size: cover; }
  .book__left {
    width: 45%;
    height: 100%;
    padding: 3rem; }

.section-footer {
  padding: 10rem 0;
  background-color: #161616; }
