$color-primary : rgba(85,197,122,1.0);
$color-primary-light:rgba(126,213,111,1.0);
$color-secondary: rgba(40,180,133,1.0) ;
$color-grey-dark:rgba(119,119,119,1.0);
$color-grey-light:rgba(55,130,130,1.0);
$color-white:rgba(255,255,255,1.0);
$color-black: rgba(0,0,0,1.0);


// Light green: #7ed56f
// Medium green: #55c57a
// Dark green: #28b485 