.section-about {
  padding: 15rem 0;
  margin-top: -15vh;
  background-color: $color-grey-light;
}

.section-feature {
  padding: 14rem 0;
  margin-top: -6.4rem;
  background-image: linear-gradient(
      to right,
      rgba($color-primary, 0.7),
      rgba($color-primary-light, 0.7)
    ),
    url(../img/nat-4.jpg);
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
}
.section-tour {
  margin-top: -11rem;
  padding: 25rem 0 15rem 0;
  background-color: $color-grey-light;
}
.section-stories {
  padding: 10rem 0rem;
  position: relative;
}
.section-book{
  padding: 10rem;
  background-image: linear-gradient(to right bottom ,rgba($color-primary,.8),rgba($color-primary-light,.8));
}
.book{
  height: 35rem;
  background-image: linear-gradient(105deg, rgba($color-white,.7) 0%,rgba($color-white,.8) 50% ,transparent 50%),url(../../img/nat-10.jpg);
  background-size: cover;
  &__left{
    width: 45%;
    height: 100%;
    padding: 3rem;
  }
}
.section-footer{
  padding: 10rem 0;
  background-color: $color-black-light;
}
